$white:#FFFFFF;
$black:#000000;
$dark_pink:#BA4270;
$link_water_white:#FBFCFE;
$san_juan_blue:#36536B;
$mirage_blue:#1B262F;
$charmpink_actives:#DA6D97;
$light_san_juan_blue:#6C8294;
$light_grey:#EDF3F8;
$dark_grey:#D2DBE3;